<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "New App", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?(products_path) %>">
          <%= link_to products_path do %>
            Products
            <%= content_tag(:span, "(current)", class: "sr-only") if current_page?(products_path) %>
          <% end %>
        </li>
        <li><%= link_to "Home", "/#home" %></li>
        <li><%= link_to "About", "/#about" %></li>
        <li><%= link_to "Contact Us", "/#contact" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#">Welcome! <%= current_user.email %></a></li>

          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li class="<%= "active" if current_page?(edit_user_registration_path(current_user)) %>">
            <%= link_to edit_user_registration_path(current_user) do %>
              Edit Profile
              <%= content_tag(:span, "(current)", class: "sr-only") if current_page?(edit_user_registration_path(current_user)) %>
            <% end %>
          </li>
        <% else %>
          <li class="<%= "active" if current_page?(new_user_session_path) %>">
            <%= link_to new_user_session_path do %>
              Login
              <%= content_tag(:span, "(current)", class: "sr-only") if current_page?(new_user_session_path) %>
            <% end %>
          </li>
          <% if current_page?(new_user_registration_path) %>
            <li class="active">
              <%= link_to new_user_registration_path do %>
                Register
                <%= content_tag(:span, "(current)", class: "sr-only") %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to('Register', new_user_registration_path)  %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
